@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --fontp:  "Slabo 27px", serif;
    --fontt: "Lobster", sans-serif;
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fontteste: "Alfa Slab One", serif;
}

* {
    margin: 0px;
    padding: 0px;    
}

html, body {
    min-height: 100vh;       
}

header {
    background: black url('../imagens/euteste.png') right bottom no-repeat fixed;  
    background-size: cover; 
    color: white; 
    height: 250px;
    text-shadow: 1px 1px 0px black;
    text-align: center
     
}

header h1 {
    padding-top: 50px;
    font-family: var(--fontteste);
    font-size: 2.5em;          
}

header p {
    padding-bottom: 10px;
    font-family: var(--fontpadrao);
    font-variant: small-caps;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
 }

 a:hover {
    text-decoration: underline;
 }

section {
    height: 35vw;
    font-size: 2.5vw;
    font-family: var(--fontp);
    box-shadow: inset 1px 1px 20px 0px rgba(0, 0, 0, 0.502);
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente dentro do elemento */
}

section.simples {
    color: brown;    
}

section.foto {
    color: white;
}

section#filha {
    background: black url('../imagens/filhac.jpeg') top center no-repeat fixed;
    background-size: cover; 
}

section#vento {
    background: black url('../imagens/ventoc.jpeg') top center no-repeat fixed;
    background-size: cover; 
}

footer {
    margin-top: 2px;
    padding: 10px;
    text-align: center;
    font-family: var(--fontpadrao);
    background-color: #000000;
}

footer p {
    color: white
}